.cat_assistant
{
    position: fixed;
    display: inline-block;
    bottom:0;
    left:0;
    width:127px;
}

.cat_assistant > a
{
    text-decoration: none;
    display: block;
}

.cat_assistant .bg
{
    bottom:0;
    left:0;
    position: absolute;
    background: url("https://github.com/Dev-Archsoft/momsodell/blob/master/img/cat_assistant.png?raw=true") no-repeat transparent;
}

.cat_assistant .layer1
{
    width: 127px;
    height: 150px;
    background-position: 0 100%;
}

.cat_assistant .layer2
{
    display: none;
    width: 127px;
    height: 239px;
    background-position: -126px 100%;
}

#cat_assistant_sound
{
    display:none;
}